{% extends 'base.html' %}
{% block content %}
<h1>My Tasks</h1>
{% if tasks.all|length == 0 %}
<p>You have no tasks</p>
{% else %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Is completed</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.start_date }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task|yesno }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock content %}
